.icon{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.enlarge-on-hover:hover{
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  font-weight: bold;
}

h4{
  margin-bottom: 10px;
}

h3{
  font-size: 30px;
}

.project{
  width: 200px;
  height: 170px
}